[Unit]
Description=Flight code for Rocket Lander
After=systemd-modules-load.service

[Service]
Restart=on-failure

ExecStart=/bin/sh -c "/home/pi/rocketlander/start.sh"

[Install]
WantedBy=multi-user.target
